@import "reset.css";
.body.lock {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  margin-top: 7rem;
}

.form {
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding-top: 40px;
  transition: 0.5s;
}
.form__title {
  font-size: 3.6rem;
}
.form__subtitle {
  max-width: 550px;
  margin: 30px auto 0;
  font-size: 1.8rem;
  line-height: 1.2em;
}
.form .form__input {
  border: none;
  background-color: #fff;
  width: 100%;
  max-width: 600px;
  border-radius: 27px;
  padding: 13px 25px;
  font-size: 1.8rem;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  display: block;
  margin: 20px auto;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
.form .form__input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.form .form__input--name {
  margin-top: 40px;
}
.form__btn {
  font-family: "Pacifico", cursive;
  display: inline-block;
  margin: 35px auto 20px;
  outline: none;
  padding: 0 25px;
  font-size: 2.2rem;
  line-height: 1.9em;
  border-radius: 1em;
  background: #fff;
  border: 2px solid #000;
  letter-spacing: 2px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.form__btn:hover {
  background: black;
  border-color: #fff;
  color: #fff;
}

.form-background {
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  transition: 0.3s;
}
.form-background.active {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.close__trait {
  top: 45%;
  right: -16%;
  background-color: #000;
  position: absolute;
  width: 50px;
  height: 3px;
  border-radius: 1px;
}

@media screen and (max-width: 480px) {
  .form__title {
    margin-top: 15px;
  }
}
.header {
  top: 0;
  left: 0;
  right: 0;
  font-family: "Roboto", sans-serif;
  height: 7rem;
  position: fixed;
  z-index: 30;
  color: #000;
}
.header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px -5px 10px 0px #000;
  transition: 0.5s;
}
.header.active:before {
  background-color: white;
}
.header .container--header {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.header__buffer {
  display: none;
}

.header__logo {
  display: inline-block;
  width: 140px;
}

.header__burger {
  display: none;
}

.header__menu {
  max-width: 500px;
  width: 100%;
}

.menu__list {
  width: 100%;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
}
.menu__list .list__item {
  color: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
  cursor: pointer;
}

.menu__line {
  display: none;
}

.menu__network {
  display: none;
}

@media screen and (max-width: 991px) {
  .header {
    font-family: "Raleway", sans-serif;
  }
  .header.active .header__buffer {
    display: inline-block;
    height: 100vh;
    width: calc(100vw - 210px);
    position: absolute;
    top: 7rem;
  }

  .header__burger {
    display: block;
    position: relative;
    right: 0px;
    width: 30px;
    height: 20px;
    transition: 0.5s;
    cursor: pointer;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: 0.5s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger .burger__trait {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: 0.5s;
  }
  .header__burger.active {
    right: 135px;
  }
  .header__burger.active:before {
    top: 9px;
    transform: rotate(225deg);
  }
  .header__burger.active .burger__trait {
    background-color: rgba(255, 255, 255, 0);
  }
  .header__burger.active:after {
    bottom: 9px;
    transform: rotate(-225deg);
  }

  .header__logo {
    max-width: 100px;
  }

  .header__menu {
    padding-top: 9rem;
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: -10;
    top: 0;
    right: -100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    background: linear-gradient(180deg, #000 40%, rgba(0, 0, 0, 0.5));
  }
  .header__menu .menu__list {
    flex-direction: column;
    font-size: 2rem;
  }
  .header__menu .menu__list li {
    margin: 10px 30px;
  }
  .header__menu .menu__list .list__item {
    color: #fff;
  }
  .header__menu .menu__line {
    display: inline-block;
    width: 75%;
    height: 2px;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    margin-top: 18px;
  }
  .header__menu .menu__network {
    width: 75%;
    display: flex;
    margin-top: 18px;
  }
  .header__menu .menu__network .network__item {
    font-size: 3.5rem;
    color: #fff;
    margin-right: 18px;
  }
  .header__menu.active {
    right: 0;
  }

  .form__close {
    right: 30px;
    top: 30px;
    width: 26px;
    height: 26px;
  }

  .close__trait {
    width: 35px;
  }
}
@media screen and (min-width: 1240px) {
  .header .list__item {
    position: relative;
  }
  .header .list__item:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.3);
    bottom: -7px;
    transition: 0.5s;
  }
  .header .list__item:hover {
    color: black;
  }
  .header .list__item:hover:before {
    width: 100%;
    background: #000;
  }
  .header .list__item:active:before {
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5));
  }
}
@media screen and (max-width: 1240px) {
  .header .list__item:active {
    color: black;
  }
}
.footer {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(#fff 5%, #000 6%, #060f25);
}

.wave-wrap {
  background: linear-gradient(#fff, #000);
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 15vh;
}
.wave-wrap .wave {
  position: absolute;
  width: 400vh;
  height: 400vh;
  background-color: rgba(255, 255, 255, 0.3);
  top: 0;
  z-index: 5;
}
.wave-wrap .wave:nth-child(1) {
  animation: turn 5s linear infinite;
  border-radius: 47%;
  left: 35%;
}
.wave-wrap .wave:nth-child(2) {
  animation: turn 10s linear infinite;
  border-radius: 45%;
  left: 50%;
}
.wave-wrap .wave:nth-child(3) {
  animation: turn 15s linear infinite;
  border-radius: 47%;
  left: 65%;
}

.container--footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 25px;
}

.column--left {
  display: inline-flex;
  align-items: flex-end;
}

.wrapper {
  text-align: center;
}
.wrapper__logo {
  max-width: 200px;
}
.wrapper__right {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.2s;
  margin-top: 15px;
}

.footer .list {
  font-size: 1.6rem;
  color: #808080;
  margin-left: 100px;
}
.footer .list__item {
  margin-top: 15px;
}
.footer .list__link {
  transition: 0.3s;
  cursor: pointer;
}

.network {
  margin: 0 -10px;
}
.network .network__link {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #000;
  border: 0.25rem solid #808080;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  transition: 0.5s;
  box-shadow: 0 0 0 #000;
}
.network .network__link .network__icon {
  color: #808080;
  font-size: 2.5rem;
  transition: 0.5s;
}

@keyframes turn {
  0% {
    transform: translate(-50%, -395vh) rotate(0);
  }
  100% {
    transform: translate(-50%, -395vh) rotate(-360deg);
  }
}
@media screen and (max-width: 1199px) {
  .container--footer {
    padding: 50px;
  }
}
@media screen and (max-width: 991px) {
  .list {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .network {
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .network__link {
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  .container--footer {
    flex-direction: column;
  }

  .wrapper {
    margin: 0 auto;
  }

  .column--right {
    text-align: center;
  }
  .column--right .network {
    display: inline-block;
    margin-top: 25px;
  }
}
@media screen and (min-width: 1240px) {
  .list__link:hover {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4;
  }

  .network__link:hover {
    border-color: #fff;
    box-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4;
  }
  .network__link:hover .network__icon {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4;
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1240px) {
  .list__link:active {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4;
  }

  .network__link:active {
    border-color: #fff;
    box-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4;
  }
  .network__link:active .network__icon {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4;
    transform: rotate(360deg);
  }
}
/* Landscape tablets and medium desktops */
@media screen and (max-width: 1199px) {
  html {
    font-size: 9px;
  }
}
/* Portrait tablets and small desktops */
@media screen and (max-width: 991px) {
  html {
    font-size: 8px;
  }

  .container {
    max-width: 767px;
  }

  .container--header {
    max-width: 1170px;
  }
}
/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
  .container--welcome {
    text-align: center;
  }

  .header__burger.active {
    right: 0;
  }
}
/* Portrait phones and smaller */
/* Iphone 5 */